<h2>Posts:</h2>
{{#each posts as |post|}}
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
  <span>Comment loop here</span>
{{/each}}

<h2>BeerleaderBoard</h2>
<span> TBC</span>

<h2>Users Objects</h2>
{{#each users as |user|}}
  {{user.username}}
{{/each}}



