



<div class="login-body">
  
  <h1 class="is-size-1 has-text-centered" id="login-title">
    Welcome to Beer Buddies!
  </h1>
  <h3 class="is-size-4 has-text-centered" id="login-title">
    Please log in or sign up to enjoy the site
  </h3>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <form method="post" class="box login-form">
                <h1 class="is-size-3 loginTitle">Login</h1>
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" id="email-login" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" id="password-login" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button" type="submit">
                  Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-5-widescreen">
            <form method="post" class="box signup-form">
                <h1 class="is-size-3 loginTitle">Signup</h1>
              <div class="field">
                <label for="" class="label">Full Name</label>
                <div class="control has-icons-left">
                  <input type="text" placeholder="Bob" class="input" id="name-signup" required />
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <div class="field">
                    <label for="" class="label">User Handle</label>
                    <div class="control has-icons-left">
                      <input type="text" placeholder="Smith" class="input" id="username-signup" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
              </div>
              
              <div class="field">
                <label for="" class="label">Email</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" id="email-signup" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Address</label>
                <div class="control has-icons-left">
                  <input type="text" placeholder="e.g. Carrollton TX, 75006" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Create Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" id="password-signup" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                
                <button class="button" type="submit">
                  Sign up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--end login body-->
</div>
<script src="./js/login.js"></script>







