body {
  background-color: rgb(36, 34, 34);
}
.navbar {
  background-color: rgb(255, 176, 17);
}
#title {
  color: white;
}

.blog {
  color: white;
  text-align: center;
}
.checklist {
  color: white;
}

.post {
  background-color: rgb(255, 176, 17);
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  padding: 15px;
}
.comment {
  background-color: rgb(218, 186, 124);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin-top: 5px;
  padding: 15px;
}
.addComment {
  color: white;
  text-decoration: underline;
  margin-left: 49px;
}
.media {
  max-width: 90%;
  max-height: 50%;
  margin-left: 48px;
}

.navbar2 {
  background-color: rgb(255, 176, 17);
  margin-bottom: auto;
  left: 0px;
  bottom: 0px;
  height: 35px;
  width: 100%;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 8px;
  height: auto;
}
.profileInfo {
  color: white;
  text-align: center;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: rgb(255, 255, 255);
}
.pic {
  margin-left: 75px;
}
.userName {
  color: white;
  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
}
.favBeers {
  color: white;
  margin-left: 50px;
  margin-top: 15px;
}
.favBeersItems {
  color: white;
  margin-left: 50px;
  text-align: left;
}
.beerList {
  margin-left: auto;
  margin-right: auto;
}

.postTitle {
  color: black;
  text-decoration-line: underline;
}
.profileInfo {
  color: white;
  text-align: center;
}

.pic {
  margin-left: 75px;
}

.myStuff {
  color: white;
  text-align: center;
}
.tabs {
  color: white;
}

.hidden {
  display: none;
}
.leaderboard {
  color: white;
  text-align: center;
}
#topDog {
  color: rgb(255, 176, 17);
  font-weight: bolder;
  font-size: xx-large;
}
#secondDog {
  color: rgb(255, 243, 139);
  font-weight: bold;
  font-size: x-large;
}
#thirdDog {
  color: rgb(255, 250, 202);
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.nearBeer {
  color: rgb(255, 176, 17);
  text-align: center;
}
.beerMap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.button {
  background-color: rgb(255, 176, 17);
}
.loginTitle {
  color: rgb(255, 176, 17);
  text-align: center;
}
